/* COLOR SCHEME

#0B0C10;
#1F2833;
#C5C6C7;
#66FCF1;
#45A29E;


*/


body {
  color: #c5c6c7;
  background-color: #0b0c10;
}

/* HERO & HOMEPAGE STUFF */

.cover-container {
  max-width: 50em;
}

.index_body {
  background-image: url("../img/deepsea_hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* JOURNEY BUTTON */
.btn-homepage {
  position: relative;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
  background-color: transparent;
  border-color: #fff;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.color-fill:hover {
  color: #fff;
}

.color-fill:before {
  content: "";
  position: absolute;
  background: #45a29e;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
  transition: top 0.09s ease-in;
}

.color-fill:hover:before {
  top: 0;
}

/* BRANDING */

.astranautical {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  vertical-align: middle;
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s;
}

.astranautical:hover {
  color: #66fcf1;
  letter-spacing: 2px;
}

.astra-nav {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  vertical-align: middle;
  color: #fff;
}

.astra-nav:hover {
  color: #66fcf1;
}

/* NAV */

.navbar {
  background-color: transparent;
}

#navbar {
  text-align: center;
}

.custom-toggler {
  border-color: #45A29E;
}

.navbar-toggler {
  font-size: 0.9rem;
}

.card-text {
  min-height: 4.6rem;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}

@media (min-width: 576px) {}

.center-vertical {
  display: flex;
  align-items: center;
}

.jy-social-links {
  transition: all 0.2s;
  font-size: 2rem;
  color: #45a29e;
}

.jy-social-links:hover {
  transition: all 0.2s;
  color: #fff;
}

.jy-resume-icons {
  font-size: 4rem;
  color: #45a29e;
}


.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}


/* FOOTER */



footer {
  border-top: 1px solid #45A29E;
  font-size: 0.9rem;
}


.carousel {
  max-width: 700px;
}

.home-border {
  border: 1px solid #45a29e;
}

.home-img {
  max-height: 400px;
  max-width: 400px;
  margin: auto;
  display: block;
  -ms-transform: rotate(120deg);
  /* IE 9 */
  transform: rotate(120deg);
}

.home-img-norotate {
  max-height: 400px;
  max-width: 400px;
  margin: auto;
  display: block;
}

/* UTILITIES */

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.fontcolor-teal {
  color: #45A29E;
  ;
}

.fontcolor-white {
  color: #fff;
}

.fontbold {
  font-weight: bold;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0px;
}

.list-chevron {
  margin-right: 0.8rem;
  color: #45A29E;
}

.resume-title {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #45A29E;
  color: #1F2833;
  font-size: 1rem;
  font-weight: bold;
}

.resume-category {
  font-size: 1.6rem;
}


/* TOOLTIP */

.fl-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #66fcf1;
}

.fl-tooltip .fl-tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #1F2833;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #66fcf1;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.fl-tooltip .fl-tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #66fcf1 transparent;
}

.fl-tooltip:hover .fl-tooltiptext {
  visibility: visible;
}

.ri-tooltip {
  position: relative;
  display: inline-block;
}

.ri-tooltip .ri-tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #1F2833;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #66fcf1;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 90%;
  left: auto;
}

.ri-tooltip .ri-tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #66fcf1 transparent;
}

.ri-tooltip:hover .ri-tooltiptext {
  visibility: visible;
}

.card {
  background-color: transparent;
  border: none;
}

.card-img-top {
  border-radius: 5px;
}

/* PAGE STYLE */

.transparent-bg {
  background-color: transparent;
}

.bg-teal {
  background-color: #66fcf1;
  color: #1f2833
}

.highlight-about {
  padding-left: 5px;
  padding-right: 5px;
  color: #0b0c10;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #45a29e;
}

.highlight-info {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  color: #0b0c10;
  font-weight: bold;
  background-color: #45a29e;
}

.wavy-text {
  text-decoration: underline;
  -webkit-text-decoration-color: #45a29e;
  text-decoration-color: #45a29e;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
}

.wavy-text-white {
  text-decoration: underline;
  -webkit-text-decoration-color: #c5c6c7;
  text-decoration-color: #c5c6c7;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
}

.gradient-underline-text {
  background: linear-gradient(to left, #8EFFBF, #73FFDA, #66FCF1, #00C3B9, #45a29e 100%);
  background: -webkit-linear-gradient(to left, #8EFFBF, #73FFDA, #66FCF1, #00C3B9, #45a29e 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
}

.class-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:120px;
  letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
            8px 8px #00C3B9,
            20px 20px #000000;
}

.class-title {
  border-bottom: 1px solid #66fcf1;
  text-transform: uppercase;
  font-size: 1.15rem;
}

.class-desc {
  font-size: 0.8rem;
}

.g-6, .gy-6 {
  --bs-gutter-y: 5rem;
}

.g-6, .gx-6 {
  --bs-gutter-x: 5rem;
}

/* COOL BUTTONS */

.btn-text:link,
.btn-text:visited {
  font-size: 1rem;
  color: #45A29E;
  ;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #45A29E;
  padding: .3rem;
  transition: all .2s
}

.btn-text:hover {
  background-color: #45A29E;
  ;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-0.2rem);
  transform: translateY(-0.2rem)
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.poppy-link:link,
.poppy-link:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all .2s
}

.poppy-link:hover,
.poppy-link:active {
  -webkit-transform: rotate(5deg) scale(1.3);
  transform: rotate(5deg) scale(1.3)
}


.fa-heart {
  color: #45A29E;
}
